    <main>
        <section class="admin-table">
            <h1>Haldamine</h1>
            <table>
                <thead>
                    <tr>
                        <th>Raamat</th>
                        <th>Autor</th>
                        <th>Kirjastaja</th>
                        <th>Aasta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Margus ja puudumised</td>
                        <td>Riina</td>
                        <td>Meelis</td>                       

                        <td>2001</td>
                        <td><button class="add-button">Muuda</button> <button class="add-button">Kustuta</button></td>
                    </tr>
                    <tr>
                        <td>Alkohooliku päevik</td>
                        <td>Mats</td>
                        <td>Aaron</td>
                        <td>2026</td>
                        <td><button class="add-button">Muuda</button> <button class="add-button">Kustuta</button></td>
                    </tr>
                    <!-- Lisa rohkem ridu vastavalt vajadusele -->
                </tbody>
            </table>
        </section>
    </main>
