<!-- const popularAuthorsRouter = require('./routes/popularAuthors');
app.use('/popular-authors', popularAuthorsRouter);
 -->


<h1>Autorite nimekiri</h1>

<% if (authors.length === 0) { %>
  <p>Autoreid ei leitud.</p>
<% } else { %>
  <ul class="author-list">
    <% authors.forEach(author => { %>
      <li class="author-item">
        <h2><%= author.nimi %></h2>
        <ul class="book-list">
          <% if (author.books.length === 0) { %>
            <li>Raamatuid ei leitud.</li>
          <% } else { %>
            <% author.books.forEach(book => { %>
              <li>
                <strong><%= book.pealkiri %></strong> –
                <%= book.aasta %> –
                <%= book.hind %>€
              </li>
            <% }) %>
          <% } %>
        </ul>
      </li>
    <% }) %>
  </ul>
<% } %>