<main>
    <section class="hero">
        <img src="/images/books.jpg" alt="Raamatud riiulil">
        <div class="hero-text">
            <h1>Raamatupood</h1>
            <p>Raamatud on meie parimad sõbrad. Meie raamatupood pakub laia valikut raamatuid igale maitsele.</p>
            <p>Meie poes leiad nii klassikalisi teoseid kui ka uusimaid bestsellereid. Tule ja avasta meie raamatute maailm!</p>
        </div>
    </section>
</main>