<main>
    <section class="login-panel">
        <h1>Sisselogimine</h1>
        <form onsubmit="event.preventDefault(); window.location.href='admin';">
            <input type="text" placeholder="Kasutajanimi" required>
            <input type="password" placeholder="Parool" required>
            <button type="submit" class="nav-button">Logi sisse</button>
        </form>
    </section>
</main>
