<h1>Telli raamatud</h1>
<form action="/order" method="POST">
    <label>Nimi: <input type="text" name="nimi" required></label><br>
    <label>Aadress: <input type="text" name="aadress" required></label>
    <label>E-post: <input type="email" name="email" required></label><br>
    <label>Telefon: <input type="text" name="telefon" required></label><br>
    <button type="submit">Esita tellimus</button>
</form>