<div id="authorPublisherModal" class="modal hidden">
    <div class="modal-content">
        <h2 id="popupTitle">Lisa puuduv info</h2>
        <div class="modal-columns">
            <div id="authorFields" class="hidden">
                <input name="autor_nimi" id="autor_nimi" placeholder="Autor nimi">
                <input name="autor_aadress" id="autor_aadress" placeholder="Aadress">
                <input name="autor_url" id="autor_url" placeholder="Kodulehe URL">
            </div>
            <div id="publisherFields" class="hidden">
                <input name="kirjastaja_nimi" id="kirjastaja_nimi" placeholder="Kirjastaja nimi">
                <input name="kirjastaja_aadress" id="kirjastaja_aadress" placeholder="Aadress">
                <input name="kirjastaja_telefon" id="kirjastaja_telefon" placeholder="Telefon">
                <input name="kirjastaja_url" id="kirjastaja_url" placeholder="Kodulehe URL">
            </div>
        </div>
        <button id="confirmPopup">Kinnita</button>
    </div>
</div>