/* Üldised seaded */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
  }
/* Header ja nav */
header {
    background-color: #ffcc99;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.nav-button {
    background-color: #e16d00;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
    background-color: #c25700;
    transform: scale(1.05);
}

.search-input {
    background-color: #e16d0019;
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #aaa;
    font-size: 14px;
    outline: none;
}

/* Hero sektsioon */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(60%);
}

.hero-text {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff4e6;
    color: #222;
    padding: 40px;
    border-radius: 20px;
    max-width: 900px;
    box-shadow: 0 4px 15px #ffe2bc;
}

.hero-text h1 {
    margin-bottom: 15px;
    font-size: 4rem;
    color: #e16d00;
}

/* Footer */
footer {
    width: 100%;
    bottom: 0;
    background-color: #f0e6dc;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #555;
}
